@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {

    background-color: black;
    color: white;
    text-align: center;
}

 header > h1 {
    padding-top: 50px;
    /*
    text-transform: uppercase;
    deixa todas as letras em maiúsculas.
    */
    
    font-variant: small-caps;   
    font-family: var(--font2);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.4em;
}

section.normal {
    background-color: white;
    color: black;
}

section.normal > p {
    padding-bottom: 20px;
}


section.imagem {
    background-color: rgb(94, 94, 94);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.322);
    width: 222px;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}